@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello! from .NET</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Secrets</h2>
    <ul>
        <li>Secret acquired directly from Azure Key Vault: @Model.Secret</li>
        <li>Secret acquired from Azure Key Vault via Azure App Configuration: @Model.Settings.Secret</li>
    </ul>
</div>

